:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  line-height: 1.2;
}

.list {
  list-style: none;
}

.no-decor {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

/* header */

.link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

.link-logo-color {
  color: var(--accent-color);
}

.nav-list {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.nav-list:hover,
.nav-list:focus,
.contacts:hover,
.contacts:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

/* advanteges */

.advanteges {
  display: none;
}

.advanteges-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advanteges-discription {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* what we do */

.whatwedo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* team */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  font-weight: 500;
}

.prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

/* footer */

.footer {
  background-color: #2f303a;
}

.footer-logo {
  color: var(--primary-white-color);
}

.address {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

/* портфолио */

.filter-btn {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: none;
}

.filter-btn:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-discription {
  font-size: 16px;
  line-height: 1.88;
  color: var(--title-text-color);
}
